<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <getTestToRun>
        <processor type="Sitecore.ContentTesting.Pipelines.GetTestToRun.EnsurePageTest, Sitecore.ContentTesting">
          <patch:attribute name = "type">Sitecore.Support.ContentTesting.Pipelines.GetTestToRun.EnsurePageTest, Sitecore.Support.145021</patch:attribute>
        </processor>
      </getTestToRun>
    </pipelines>
  </sitecore>
</configuration>